:root {
  --TEST: 1px solid red;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ListItem {
  border: var(--TEST);
  display: flex;
  max-width: 800px;
  margin: 0 auto;
}

.ListHeader {
  border: var(--TEST);
  display: flex;
  width: 20%;
  justify-content: space-around;
  align-items: center;
}

.ListImg {
  width: 90px;
  border-radius: 90px;
}
